<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>Productos</h1>
        <button class="btn btn-warning my-5" onclick="location.href='/home'">HOME</button>
    </div>

    <div>
        <h2>Lista de Productos</h2>
        {{#if products}}
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Añadir</th>
                </tr>
            </thead>
                <tbody>
                {{#each prod}}
                    <tr>
                        <td><img src="../images/sopaMaruchan.png" alt="Producto"></td>
                        <td>{{this.nombre}}</td>
                        <td>{{this.descripcion}}</td>
                        <td>{{this.precio}}</td>
                        <td>{{this.stock}}</td>
                        <td>
                            <form
                            class='form'
                            action="/api/carrito/" + carritoId + "/productos/" + prod.id
                            method='post'
                            role='form'
                            autocomplete='off'
                            >
                            <input type="hidden" name="param1" value="param1Value">
                            <a href="javascript:document.submitForm.submit()"><button>Añadir a Carrito de Compras</button></a>
                            </form>
                        </td>

                    </tr>
                {{/each}}
                </tbody>
        </table>
        {{else}}
        <div id="noProd">
            <p>No hay productos disponibles</p>
        </div>
        {{/if}}
    </div>
</div>