<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1><i>Information: </i></h1>
        <h3>Nombre de la plataforma: {{plataforma}}</h3>
        <h3>Versión de node.js: {{version}}</h3>
        <h3>Memoria total reservada: {{memCheck}}</h3>
        <h3>Path de ejecución: {{dir}}</h3>
        <h3>Process id: {{PID}}</h3>
        <h3>Process name: {{title}}</h3>
        <h3>Argumentos: {{args}}</h3>
        <h3>Número de procesadores en el servidor: {{numCPUs}}</h3>
        <br>
        <button class="btn btn-danger my-5" onclick="location.href='/login'">IR A LOGIN</button>
        <button class="btn btn-danger my-5" onclick="location.href='/register'">Ir A REGISTER</button>
    </div>
</div>

